{% extends "layout.html" %}

{% block title %}
    Calories Calculator
{% endblock %}

{% block style %}
<link href="/static/calories.css" rel="stylesheet">
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='calories.js')}}"></script>
{% endblock %}
{% block main %}

<div class="container" id="cal">
    <h1 id="instruction">Calories intake is a big concern for everyday life. And this varied based on many factors.
                        But we will try to keep it simple since math is hard. Tell us your gender and we will co-ordinate the the calculator accordingly</h1>

    <form id="calForm">
        <hr>
    <p id="gender"><b>Gender
            <select id="choice">
                         <option>Male</option>
                         <option>Female</option>
            </select>
        </p>

    <p id="calories">
                     <label> Your Calories Intake: </label>
                     <input autocomplete="off" type="text" id="amount">     <br>

        <input id="reset" type="button" onclick="resetAll()" value="Reset">
        <input id="submit" type="button" onclick="calories()" value="Submit">

    </p>
    </form>
        <div id="pic">
                <img src="https://cdn.pixabay.com/photo/2017/09/25/13/12/dog-2785074_1280.jpg" style="max-width: 500px">
        </div>
        <div id="result">
            Take your time, we can wait!
        </div>
        <div id="text"></div>



    <hr>
</div>

{% endblock %}
