{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="old_login_password" placeholder="Old Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_login_password" placeholder="New Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm_new_login_password" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}