{% extends "layout.html" %}

{% block title %}
    Retrieve Password
{% endblock %}

{% block main %}
{% if session.userforgot %}
    <div class="container">
        <form action="/forgotpassword" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="forgot_new_password" placeholder="New Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="forgot_confirm_password" placeholder="Confirm Password" type="password">
            </div>
            <input type="hidden" name="btn_identifier" value="forgot_change_password">
            <button class="btn btn-primary" type="submit">Change Password</button>
        </form>
    </div>
{% else %}
    <div class="container">
        <form action="/forgotpassword" method="post">
            <div class="form-group">
                <label for="forgotpassword_username_id"><b>Username</b></label>
                <input id="forgotpassword_username_id" autocomplete="off" autofocus class="form-control" name="forgotpassword_username_value" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <label for="forgotpassword_security_question_id">Choose a security question:</label>
                <select id="forgotpassword_security_question_id" name="forgotpassword_security_question_value">
                        <option value="0">Choose a security question.</option>
                        <option value="What is your birthday?">What is your birthday?</option>
                        <option value="What is the name of your first pet?">What is the name of your first pet?</option>
                        <option value="Where were you born?">Where were you born?</option>
                        <option value="Where did you go to primary school?">Where did you go to primary school?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="forgotpassword_security_answer_id">Answer</label>
                <input id="forgotpassword_security_answer_id" class="form-control" name="forgotpassword_security_answer_value" placeholder="Answer" type="text">
                <small id="forgotpassword_security_answer_id_help" class="form-text text-muted">Type carefully, the answer will be checked character by character!</small>
            </div>
            <input type="hidden" name="btn_identifier" value="forgot_question">

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
{% endif %}

{% endblock %}

